doctype html
html
  head
    title= title
    meta(charset='utf-8')
    link(rel='stylesheet' href='stylesheets/register.css')
    script(type="text/javascript" src="javascripts/jquery.js")

  body
    
    block content